/**
 * 基本的
 */
/**
 * 有关markdown
 */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
em,
i {
  font-style: normal;
}
img {
  border: 0;
}
a {
  text-decoration: none;
  color: #353535;
}
/* 清除浮动 */
.clearfix::after {
  content: "";
  /*必须写*/
  visibility: hidden;
  clear: both;
  display: block;
  height: 0;
}
.clearfix {
  *zoom: 1;
}
.detailsContainer {
  display: flex;
  justify-content: start;
  padding: 100px 70px;
}
.detailsContainer .leftInfo {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 80px;
  height: 140px;
  background: white;
  margin-right: 10px;
}
.detailsContainer .leftInfo .count {
  text-align: center;
  height: 70px;
}
.detailsContainer .leftInfo .count p {
  margin: 0;
}
.detailsContainer .leftInfo .count .icon {
  margin-top: 10px;
  color: #58a;
  font-size: 26px;
}
.detailsContainer .leftInfo .count:hover {
  transition: 0.4s;
  transform: scale(1.03);
  box-shadow: 0px 3px 6px -4px rgba(0, 0, 0, 0.12), 0px 6px 16px 0px rgba(0, 0, 0, 0.08), 0px 9px 28px 8px rgba(0, 0, 0, 0.05);
  background: #f5f5f5;
}
.detailsContainer .details {
  width: 790px;
  padding: 20px 30px;
  margin-right: 10px;
  background: white;
  box-shadow: 0px 3px 6px -4px rgba(0, 0, 0, 0.12), 0px 6px 16px 0px rgba(0, 0, 0, 0.08), 0px 9px 28px 8px rgba(0, 0, 0, 0.05);
}
.detailsContainer .details .articleInfo {
  border-bottom: 1px solid #d9d9d9;
  margin-bottom: 30px;
  padding-bottom: 10px;
}
.detailsContainer .details .articleInfo .author,
.detailsContainer .details .articleInfo .time {
  margin-right: 15px;
}
.detailsContainer .details .articleInfo .tags {
  float: right;
}
.detailsContainer .details .articleInfo .tags .tag {
  font-size: 13px;
}
.detailsContainer .details .articleInfo .tags .tag:hover {
  cursor: pointer;
  box-shadow: 3px 3px 6px -3px rgba(0, 0, 0, 0.5);
}
.detailsContainer .details .title {
  text-align: center;
  margin-bottom: 60px;
}
.detailsContainer .details .line {
  margin: 40px 0;
}
.detailsContainer .details .commentLine {
  font-size: 20px;
  letter-spacing: 4px;
  color: #58a;
  font-weight: 600;
}
.detailsContainer .details .commentPublish {
  padding: 0 10px;
  margin-bottom: 30px;
}
.detailsContainer .details .commentPublish .nameInput,
.detailsContainer .details .commentPublish .emailInput {
  width: 220px;
  margin: 30px 20px 10px 0;
}
.detailsContainer .details .commentArea {
  margin-bottom: 30px;
}
.detailsContainer .details a {
  pointer-events: none;
}
.detailsContainer .details a:hover {
  color: black !important;
  cursor: default;
}
.detailsContainer .details p {
  font-size: 15px;
}
.detailsContainer .catalog {
  position: fixed;
  top: 16.2%;
  right: 5%;
  min-height: 300px;
  max-height: 510px;
  width: 240px;
  overflow-y: scroll;
  background: white;
  padding-bottom: 20px;
}
.detailsContainer .catalog .menu {
  margin-bottom: 0;
  text-align: center;
  letter-spacing: 5px;
  font-size: 20px;
  font-weight: 600;
  line-height: 50px;
  border-bottom: 1px solid #ddd;
  box-shadow: 0px 1px 2px -2px rgba(0, 0, 0, 0.16), 0px 2px 4px 0px rgba(0, 0, 0, 0.12), 0px 4px 8px 3px rgba(0, 0, 0, 0.09);
  background: #f5f5f5;
}
.detailsContainer .catalog .article-menu .title-level1 {
  padding: 0 0.8em !important;
  margin: 10px 0 4px !important;
}
.detailsContainer .catalog .article-menu .title-level2 {
  padding: 0 1.3em !important;
  font-size: 15px;
  margin: 0.2em 0 !important;
}
.detailsContainer .catalog .article-menu .title-level3 {
  font-size: 13px;
  margin: 2px 0 !important;
}
.detailsContainer .navTopChange {
  top: 12%;
}
/*滚动条整体样式*/
.catalog::-webkit-scrollbar {
  /*高宽分别对应横竖滚动条的尺寸*/
  width: 4px;
  height: 6px;
}
/*滚动条里面小方块*/
.catalog::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background: #9e9e9e;
  box-shadow: inset 0 0 5px #1890ff;
}
/*滚动条底层颜色*/
.catalog::-webkit-scrollbar-track {
  border-radius: 10px;
  background: #ededed;
  /*滚动条里面轨道*/
  box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.1);
}
